pen BlazorWasm/App.razor. Modify it to look as follows:

<CascadingAuthenticationState>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                        <NotAuthorized>
                            <h2>To perform this operation you have to log in. </h2>
                            <h3>If you do not have account, click th button below and register.</h3>
                            <a href="CreateUser">
                                <button class="register-button">Register</button>
                            </a>
                        </NotAuthorized>
                    </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>